@media screen and (min-width: 1400px){
#service_header {
  width: 100%;
  position: absolute;
  z-index: 9;
}
  #service_inner_header {
    width: 1300px;
    height: 92px;
    position: relative;
    margin: 0 auto;
    justify-content: space-between;
  }
  #header_logo {
    display: inline-block;
    margin-top: 24px;
    margin-bottom: 24px;
  }
  #header_logo a img {
    width: 100px;
    display: inline-block;
  }
  .service_header_nav_menu {
    width: 50px;
    float: right;
    margin-top: 38px;
    cursor: pointer;
  }
  .service_header_nav_menu .header_line {
    width: 15px;
    height: 2px;
    display: block;
    background-color: #FFFFFF;
    margin: 0 auto 4px;
    transition: 1s;
  }

  .service_header_nav_menu:hover .header_line {
    width: 30px;
    transition: 1s;
  }

  .header_line:nth-of-type(2) {
    width: 30px;
  }
  .service_header_nav_menu:hover .header_line:nth-of-type(2){
    width: 15px;
    transition: 1s;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1400px){
  #service_header {
    width: 100%;
    position: absolute;
    z-index: 9;
  }
  #service_inner_header {
    width: 1100px;
    height: 92px;
    position: relative;
    margin: 0 auto;
    justify-content: space-between;
  }
  #header_logo {
    display: inline-block;
    margin-top: 24px;
    margin-bottom: 24px;
  }
  #header_logo a img {
    width: 100px;
    display: inline-block;
  }
  .service_header_nav_menu {
    width: 50px;
    float: right;
    margin-top: 38px;
    cursor: pointer;
  }
  .service_header_nav_menu .header_line {
    width: 15px;
    height: 2px;
    display: block;
    background-color: #FFFFFF;
    margin: 0 auto 4px;
    transition: 1s;
  }

  .service_header_nav_menu:hover .header_line {
    width: 30px;
    transition: 1s;
  }

  .header_line:nth-of-type(2) {
    width: 30px;
  }
  .service_header_nav_menu:hover .header_line:nth-of-type(2){
    width: 15px;
    transition: 1s;
  }
}

/*=== TABLET ===*/
@media screen and (min-width: 1022px) and (max-width: 1200px) {
  #service_header {
    width: 100%;
    position: absolute;
    z-index: 9;
  }
  #service_inner_header {
    width: 900px;
    height: 92px;
    position: relative;
    margin: 0 auto;
    justify-content: space-between;
  }
  #header_logo {
    display: inline-block;
    margin-top: 24px;
    margin-bottom: 24px;
  }
  #header_logo a img {
    width: 110px;
    display: inline-block;
  }
  .service_header_nav_menu {
    width: 50px;
    float: right;
    margin-top: 38px;
  }
  .service_header_nav_menu .header_line {
    width: 15px;
    height: 2px;
    display: block;
    background-color: #FFFFFF;
    margin: 0 auto 4px;
    transition: 1s;
  }

  .service_header_nav_menu:hover .header_line {
    width: 30px;
    transition: 1s;
  }

  .header_line:nth-of-type(2) {
    width: 30px;
  }
  .service_header_nav_menu:hover .header_line:nth-of-type(2){
    width: 15px;
    transition: 1s;
  }
}

@media screen and (min-width: 766px) and (max-width: 1022px) {
  #service_header {
    width: 100%;
    position: absolute;
    z-index: 9;
  }
  #service_inner_header {
    width: 650px;
    position: relative;
    margin: 0 auto;
    padding:20px 0 10px;
    justify-content: space-between;
  }
  #header_logo {
    display: inline-block;
    margin-top: 24px;
    margin-bottom: 24px;
  }
  #header_logo a img {
    width: 100px;
    display: inline-block;
  }
  .service_header_nav_menu {
    width: 50px;
    float: right;
    margin-top: 28px;
  }
  .service_header_nav_menu .header_line {
    width: 15px;
    height: 2px;
    display: block;
    background-color: #FFFFFF;
    margin: 0 auto 4px;
    transition: 1s;
  }

  .service_header_nav_menu:hover .header_line {
    width: 30px;
    transition: 1s;
  }

  .header_line:nth-of-type(2) {
    width: 30px;
  }
  .service_header_nav_menu:hover .header_line:nth-of-type(2){
    width: 15px;
    transition: 1s;
  }
}

/*=== MOBILE ===*/
@media screen and (min-width: 478px) and (max-width: 766px) {
  #service_header {
    width: 100%;
    position: absolute;
    z-index: 9;
  }
  #service_inner_header {
    width: 460px;
    position: relative;
    margin: 0 auto;
    padding: 0 0 10px;
    justify-content: space-between;
  }
  #header_logo {
    display: inline-block;
    margin-top: 24px;
    margin-bottom: 24px;
  }
  #header_logo a img {
    width: 90px;
    display: inline-block;
  }
  .service_header_nav_menu {
    width: 50px;
    float: right;
    margin-top: 28px;
  }

  .service_header_nav_menu:hover .header_line {
    width: 30px;
    transition: 1s;
  }

  .service_header_nav_menu .header_line {
    width: 15px;
    height: 2px;
    display: block;
    background-color: #FFFFFF;
    margin: 0 auto 4px;
    transition: 1s;
  }
  .header_line:nth-of-type(2) {
    width: 30px;
  }

  .service_header_nav_menu:hover .header_line:nth-of-type(2) {
    width: 15px;
    transition: 1s;
  }

}

@media screen and (min-width: 350px) and (max-width: 478px) {
  #service_header {
    width: 100%;
    position: absolute;
    z-index: 9;
  }
  #service_inner_header {
    width: 330px;
    position: relative;
    margin: 0 auto;
    padding: 0 0 10px;
    justify-content: space-between;
  }
  #header_logo {
    display: inline-block;
    margin-top: 24px;
    margin-bottom: 24px;
  }
  #header_logo a img {
    width: 80px;
    display: inline-block;
  }
  .service_header_nav_menu {
    width: 50px;
    float: right;
    margin-top: 28px;
  }

  .service_header_nav_menu:hover .header_line {
    width: 30px;
    transition: 1s;
  }

  .service_header_nav_menu .header_line {
    width: 15px;
    height: 2px;
    display: block;
    background-color: #FFFFFF;
    margin: 0 auto 4px;
    transition: 1s;
  }
  .header_line:nth-of-type(2) {
    width: 30px;
  }
  .service_header_nav_menu:hover .header_line:nth-of-type(2){
    width: 15px;
    transition: 1s;
  }
}

@media screen and (max-width: 350px){
  #service_header {
    width: 100%;
    position: absolute;
    z-index: 9;
  }
  #service_inner_header {
    width: 300px;
    height: 26px;
    position: relative;
    margin: 0 auto;
    padding: 0 0 10px;
    justify-content: space-between;
  }
  #header_logo {
    display: inline-block;
    margin-top: 24px;
    margin-bottom: 24px;
  }
  #header_logo a img {
    width: 60px;
    display: inline-block;
  }
  .service_header_nav_menu {
    width: 30px;
    float: right;
    margin-top: 28px;
  }

  .service_header_nav_menu:hover .header_line {
    width: 20px;
    transition: 1s;
  }

  .service_header_nav_menu .header_line {
    width: 10px;
    height: 1px;
    display: block;
    background-color: #FFFFFF;
    margin: 0 auto 3px;
    transition: 1s;
  }
  .header_line:nth-of-type(2) {
    width: 20px;
  }

  .service_header_nav_menu:hover .header_line:nth-of-type(2){
    width: 10px;
    transition: 1s;
  }
}

@media print {

}
